<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.softwaredesign">

    <!-- 네트워크 및 위치 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoftWareDesign"
        tools:targetApi="31">

        <!-- ✅ Google Maps API 설정 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
             />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ✅ MainActivity 등록 -->
        <activity
            android:name=".week7.practice4.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SoftWareDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 이전 실습 주석 유지 -->
        <!-- <activity android:name=".week5.practice1.SubActivity" /> -->
        <!-- <activity android:name=".week5.practice2.SubActivity" /> -->
        <!-- <activity android:name=".week5.practice3.SubActivity" /> -->
        <!-- <activity android:name=".week5.practice3.ResultActivity" /> -->

    </application>
</manifest>
